#idzdy1.yszdyq,#buyh span{visibility: hidden;}
#lyz,#idtop.ystop.tdtop 
,.fgg5.dqcd,.fgg5 .ta_wjq,
#menuList li.gml,.myButton{background:transparent;}
/*#laczts*/#sutjgl.BT2,#glytc.bt2,#sutjbt.BT2,#buly.BT2,#buexit,#buzx
,#kjbt,.fgg5 .ystop a,#buxz,.fgg5 .ta_wjq{margin:2px;background:linear-gradient(90deg,red,blue,green);-webkit-text-fill-color:transparent;-webkit-background-clip:text;font-weight: bold;}#nr.tx3,.fgg5 #idtop{background-image:url('https://3o.hk/images/2023/02/15/5.png');background-repeat:no-repeat;background-position-x:right;}
#idtop.ystop.tdtop{background-image:url('https://3o.hk/images/2023/06/30/6.png');background-repeat:no-repeat;background-position-x:right;}
.tdtop,#menuList li.gml{border-bottom:0px;}
 #idzdy1.yszdyq,#idzdy1,#buzx{display:none}
body{position:fixed;top: 0;left: 0;width:100%;height:100%;min-width: 360px;background-repeat: no-repeat;background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-position: center 0;}
#ysmenu1,#lyz,#dzx{border-radius:10px;}
#idzdy1.yszdyq,#idzdy.yszdyq{border-top-left-radius:10px;border-top-right-radius:10px;}
.z_bt{border-top-left-radius:8px;border-top-right-radius:8px;}
/*#zdy_wz0,*/.fgg5 #ysmenu1,#lyz,#dzx{background-color:rgba(255,255,255,0.5);/*background: -webkit-linear-gradient(top, (255,255,255,0.3)0%,rgba(0,0,0,0.5)66%, rgba(0,0,0,0)99%);*/}
/*#idsyjy{margin:2px;background:linear-gradient(90deg,yellow,blue,green);-webkit-text-fill-color:transparent;-webkit-background-clip:text;font-weight: bold;}*/
#menuList{font-size: 13pt}
/*#lynr div:first-child>div:last-child:before{content:'刚刚 1分钟前';color:#999!important}
{1%{color:#ff0}50%{color:#0ff}100%{color:#0f0}}*/
#menuList li.gml{margin:3px;}
*{font-weight:bold;}
 font a,font strong{margin:0 auto;margin-top:100px;text-align:center;
            background:-webkit-linear-gradient(left,#147B96,#E6D205 25%,#147B96 50%,#E6D205 75%,#147B96);
            color:transparent;-webkit-background-clip:text;background-size:200% 100%;animation:masked-animation 1s infinite linear; }
 @-webkit-keyframes masked-animation { 0% {background-position:0 0;}100% {background-position:-100% 0;} }
